 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/5192988895841741891.jpg");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1027px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}